.notificacion--card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.notificacion--card__buttons--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}
.notificacion--card__button {
  color: var(--blue);
  font-size: 38px;
  height: 30px;
  border-radius: 25px;
  transition: color ease 0.2s;

  &:hover {
    color: var(--alternative);
  }
}

.notificacion--card__title {
  color: var(--blue);
  font-size: 20px;
}
.notificacion--card__text {
  color: var(--text);
}

.notificacion--card__fecha {
  color: var(--alternative);
  font-size: 15px;
}
