.sin-mensajes {
  margin-left: 10%;
  width: 80%;
  border-radius: 5px;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-transparent);
  backdrop-filter: blur(1.5px);
  color: var(--text);
}
