.messaging {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--background-back);
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: $monserrat;
}

.background-band {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--alternative--blue);
  height: 140px;
}

.inbox_msg {
  position: relative;
  background-color: var(--background);
  width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .messaging {
    padding: 0;
  }

  .inbox_msg {
    width: 100%;
  }
}
