@media screen and (max-width: 650px) {
  .login-form-container {
    align-items: flex-start;
  }

  .login-form-container {
    background-color: var(--background-back);
    display: flex;
    align-items: center;
  }

  .logo-container {
    margin-bottom: 0px;
    .logo-title-container {
      h1 {
        font-size: 60px;
      }
      flex-direction: column;
      align-items: center;
      img {
        order: -1;
        width: 150px;
      }
    }
  }

  .login-form {
    width: 90%;
    box-shadow: none;
  }

  .confirmation-container {
    align-items: flex-start;
  }

  .confirmation-box {
    box-shadow: none;
  }

  .boton-navegacion-atras {
    display: flex;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    color: var(--background-back);
    &:hover {
      background-color: rgba(128, 128, 128, 0.25);
    }
  }

  .inbox_people {
    width: 100%;
    height: 100%;
  }

  .mesgs {
    width: 100%;
    height: 100%;
  }

  .perfil {
    width: 100%;
  }

  .overlay {
    background-color: rgba(216, 206, 206, 0.486);
  }

  .modal {
    width: 80%;
    height: auto;
    padding: 15px 15px;
    background-color: var(--background);
    border-radius: 8px;
    font-family: $monserrat;
    & img {
      display: none;
    }
  }

  .confirmacion-eliminar-contacto_titulo {
    color: var(--alternative-blue);
    font-size: 18px;
    margin-top: 10px;
  }

  .confirmacion-eliminar-contacto_boton {
    font-size: 12px;
    padding: 8px 15px;
  }
}

@media screen and (max-width: 450px) {
  .link-anchor {
    a {
      font-size: 15px;
    }
  }

  .login-form {
    &-title {
      margin-top: 5px;
      font-size: 22.5px;
    }

    &-input {
      height: 60px;
    }

    &-checkbox {
      height: 2rem;
    }

    .input-auth {
      font-size: 15px;
      height: 30px;
    }
    .error-input {
      font-size: 15px;
    }
    &-button-container-button {
      height: 50px;
    }

    &-checkbox {
      width: 150px;
    }
  }

  .input-checkbox {
    height: 18px !important;
    width: 18px !important;
    &:after {
      height: 15px !important;
      width: 15px !important;
    }
  }

  .logo-container h2 {
    font-size: 15px;
  }
  .logo-title-container h1 {
    font-size: 40px !important;
  }
}
