.emoji-picker-react {
  background-color: var(--secondary) !important;
  box-shadow: none !important;
  border: none !important;
  position: absolute !important;
  width: 100% !important;
  left: 0 !important;
  bottom: 55px !important;
  border-radius: 0 !important;
}

.emoji-scroll-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  margin-right: 2px;
}

.emoji-scroll-wrapper::-webkit-scrollbar:vertical {
  width: 10px;
}
.emoji-scroll-wrapper::-webkit-scrollbar:horizontal {
  height: 10px;
}

.emoji-scroll-wrapper::-webkit-scrollbar-button {
  display: none;
}
.emoji-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(120, 122, 145, 0.5);
  border-radius: 5px;
}
.emoji-scroll-wrapper::-webkit-scrollbar-track {
  border-radius: 5px;
}

.emoji-group::before {
  background: none !important;
  color: var(--text) !important;
}

.emoji-search {
  background-color: var(--background);
  border: none !important;
  outline: 1px solid var(--secondary) !important;
  color: var(--text);
}
