// Colors
$white: #eeeeee;
$dark-blue: #0f044c;
$blue: #141e61;
$blue-light: #293fce;
$light-grey: #d4d4d4;
$grey: #787a91;
$secondary-grey: #b5b7d6;
$dark-grey: #363636;

$white-dark: #25282a;
$light-grey-dark: #35393b;
$grey-dark: #c7c7c7;
$secondary-grey-dark: #252955;
$dark-grey-dark: #2d3033;

// 6C7F9A

//Fonts
$monserrat: "Montserrat", sans-serif;
